body {
    font-family: Noto Sans, sans-serif;
    margin: 0;

    nav {
        background-color: blue;
        display: flex;

        button {
            flex: 1;
            margin-left: 5%;
            margin-right: 5%;
            border: 1px solid black;
            background-color: pink;
            border-style: double;
        }
    }

    #content {
        border: 1px solid black;
        color: whitesmoke;
        text-align: center;
        position: fixed;
        left: 0;
        right: 0;
        z-index: auto;

        background-image: url('./img/ulysse-pointcheval-1WmlAiYgnoI-unsplash.jpg');

        header {
            font-size: 3em;
            font-weight: bold;
        }

        p {
            font-size: 1.5em;
        }
    }
}
